/* --- menu styles ---
note:
	not all browsers render styles the same way so try out your style sheet
	on different browsers before publishing;
*/
/* level 0 inner */
.m0l0iout {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	text-align: center;
	padding: 4px;
	color: #000000;
}
.m0l0iover {
	font: 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding: 4px;
	color: #000000;
}

/* level 0 outer */
.m0l0oout {
	text-decoration : none;
	border : 1px solid #CC6600;
	background: #FF9900;
}
.m0l0oover {
	text-decoration : none;
	border : 1px solid #CC6600;
	background: #FFCC33;
}

/* level 1 inner */
.m0l1iout {
	font: 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 4px;
	color: #ffffff;
}
.m0l1iover {
	font: bold 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding: 4px;
	color: #ffffff;
}

/* level 1 outer */
.m0l1oout {
	text-decoration : none;
	border : 1px solid #FFFFFF;
	background: #336699;
}
.m0l1oover {
	text-decoration : none;
	border : 1px solid #FFFFFF;
	background: #6699CC;
}

/* level 2 inner */
.m0l2iout {
	font: 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding: 4px;
	color: #FFFFFF;
}

.m0l2iover {
	font: bold 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding: 4px;
	color: #000000;
}

/* level 2 outer */
.m0l2oout {
	text-decoration : none;
	border : 1px solid #FFFFFF;
	background: #993333;
}
.m0l2oover {
	text-decoration : none;
	border : 1px solid #FFFFFF;
	background: #CC6666;
}
/*
     FILE ARCHIVED ON 09:45:11 Dec 26, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:41:16 Dec 27, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 296.207
  exclusion.robots: 0.067
  exclusion.robots.policy: 0.061
  cdx.remote: 0.069
  esindex: 0.008
  LoadShardBlock: 239.844 (3)
  PetaboxLoader3.datanode: 226.66 (4)
  CDXLines.iter: 13.965 (3)
  load_resource: 140.747
  PetaboxLoader3.resolve: 109.16
*/